<div class="row">
    <div class="col-sm-3">
        <h4 class="header blue lighter bigger">
            <i class="icon-coffee green"></i>
            User Authenticated
        </h4>
        <p>User: {{user}}</p>
        <p>Serial Number: {{serial}}</p>
        <button type="submit" class="width-35 pull-left btn btn-sm btn-primary" ng-click="doLogout()">
            Logout
        </button>
    </div>
</div>

<adf-dashboard name={{name}} collapsible={{collapsible}} maximizable="{{maximizable}}" structure="3-9" adf-model="model" />