<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h2>{{user}}</h2>
                <p><strong>Serial Number:</strong>
                    <span class="text-primary">{{serial}}</span>
                </p>
                <button type="button" class="pull-left btn btn-danger" ng-click="doLogout()">
                    Logout
                </button>
            </div>
        </div>
    </div>
</div>

<adf-dashboard name={{name}} collapsible={{collapsible}} maximizable="{{maximizable}}" structure="3-9" adf-model="model" />